<section>

  <h3 id="about-me">About Myself</h3>

  <div class="face-lockup">

    <div class="face-img"></div>

    <a class="icon-linkedin" href="https://www.linkedin.com/in/hannie-ngo-1384ab125/"  target="_blank">{% include icons/icon-linkedin.html %}</a>
    <a class="icon-facebook" href="https://www.facebook.com/han.ngo.507"  target="_blank">{% include icons/icon-facebook.html %}</a>
    <a class="icon-github" href="https://github.com/haxsgvnbdus"  target="_blank">{% include icons/icon-github.html %}</a>
    <a class="icon-hangout" href="hangouts.google.com"  target="_blank">{% include icons/icon-hangout.html %}</a>


  </div>
  <br>
  <br>

  <hr class="bar">

  <div class="blurb">
    {{ site.data.settings.blurb | markdownify }}
  </div>
  <br>
  <br>


</section>